# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Environment variables (DO NOT PUSH THIS)
.env
server/.env
client/.env

# Build folders
client/dist/
client/build/

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
