# MongoDB Connection URI (e.g. mongodb+srv://username:password@cluster.mongodb.net/database)
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/studymate

# Server Port
PORT=5000

# Gemini AI API Key
GEMINI_API_KEY=YOUR_GEMINI_API_KEY
